.card {
  width: 100%;
  max-width: 300px;
  margin: 1.8em;
  padding: 1.3em .9em;
  background-color: #242424;
  box-shadow: -5px 10px 15px #090909;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner img {
  width: 100%;
  margin-bottom: 1.2em;
  border-radius: 0 0 20px 20px;
}

.title h3 {
  font-size: 1.1em;
  color: var(--main-blue);
  word-wrap: break-word;
  font-weight: 400;
  margin-bottom: 12px;
}

.votes {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.votes svg {
  font-size: 1.2em;
  color: #dede00;
}

.seeMore {
  width: 100%;
  display: flex;
}

.seeMore a {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  width: 100%;
  color: var(--main-white);
  border: 2px solid var(--main-blue);
  background-color: var(--main-blue);
  padding: .6em 1.2em;
  transition: .3s;
}

.seeMore a:hover {
  color: var(--main-blue);
  background-color: transparent;
}