.form {
  background-color: #1e1e1e;
  padding: 8px;
  border-radius: 20px;
}

.form input,
.form button {
  font-size: .9em;
  color: var(--main-white);
  padding: 5px 8px;
  outline: none;
  border: none;
  background-color: transparent;
}

.form button svg {
  color: var(--main-blue);
}