.header {
  width: 100%;
  margin-bottom: 7em;
  padding: 1.3em 2.2em;
  background-color: #242424;
  box-shadow: 1px 0 20px #111111;
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  color: var(--main-white);
}

.title svg {
  margin-right: .1em;
}

.title h1,
.title svg {
  font-size: clamp(1.4em, 4.5vw, 2em);
}

.title h1 span {
  color: var(--main-blue);
}

.headerArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 595px) {

  .headerArea {
    flex-direction: column;
  }

  .title {
    margin-bottom: .8em;
  }

}